form.search-form {
    width: 98vw;
    height: 3vh;
}

form.search-form input{
    max-width: 40vw;
    width: 40vw; 
    height: 2vh; 
    font-size: 16px; 
    padding: 2px;
}

form.search-form button {
    min-width: 3vw; 
    height: 2vh;
    padding: 2px;
    font-size: 16px;
}

div.response-container {
    height: 40vh; 
    width: 50vw; 
    border: 5px solid rgb(150, 150, 150); 
    border-radius: 5px; 
    padding: 2px;
}