body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#warning {
    margin-top: 20px; 
    background-color: rgb(252, 160, 160);
    display: none;
    position: absolute;
}

input[type="text"] {
    padding: 2px;
    width: 300px;
}

form.questionnaire-form > *{
    margin-bottom: 20px; 
}

form.form-group > *{
    margin-bottom: 20px; 
}